@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', 'Montserrat Alternates', Inter, system-ui, Avenir,
        Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Login Page */
.login-page {
    /* background-color: ##0f1845; */
    /* background: linear-gradient(45deg, #0b1435 43%, #0c2377 94%); */
    background: linear-gradient(204deg, #050a24 0%, #163352 53%, #0160d1 100%);
    background-size: 300% 300%;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 71px 80px;
    height: 100vh;
    align-items: center;
    animation: gradientAnimation 4s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    align-self: start;
    display: flex;
    gap: 15px;
    font-size: 28px;
    color: var(--white, var(--background-mode, #fff));
    letter-spacing: 2.8px;
    line-height: 28px;
    margin-bottom: 45px;
}

.logo {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100px;
    align-self: start;
    max-width: 100%;
    will-change: filter;
    transition: filter 300ms;
    animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.title {
    font-style: italic;
    font-weight: 900;
    flex: 1;
    margin-top: 39px;
}

.content {
    background-color: #0160d1;
    color: #ffffff;
}

.custom-btn-action:hover,
.custom-btn-action.selected {
    background-color: #152b3d !important;
    color: #fff !important;
}

.custom-action-btn-add {
    background: #152b3d !important;
    color: #fff !important;
}

.ant-table-thead .ant-table-cell {
    background-color: #ffffff !important;
    color: #000 !important;
    font-weight: bold !important;
    /* border-bottom: 1px solid #d9d9d9 !important; */
}

/* Modal Button */
.ant-btn-primary {
    background-color: #050a24 !important;
}
